<!-- table.html -->

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyword Table</title>
    <link rel="stylesheet" type="text/css" href="table.css">
</head>
<body>
    <div id="header">
        <div class="header-content">
            <img src="../../assets/Kalimat_icon.png" alt="Icon" class="icon">
            <div class="title">
                <h1 class = "lang-text">List of keywords</h1>
            </div>
        </div>
    </div>

    <div id="table-container">
        <table id="related-words-table"></table>
    </div>
    <!-- <script src="../../lib/table.js"></script> -->
    <script type="module" src="LanguageManager.js"></script>
    <script type="module" src="table.js"></script>
</body>
</html>
