/* Updated chart.css */
body {
    margin: 0;
    overflow: hidden; /* Disable scrolling */
    
}

#header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
    background-color: transparent; /* Set background color for the header */
}

.header-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
}

.icon {
    max-width: 75px; /* Adjust the size as needed */

    height: auto;
}

.title {
    text-align: right;
    margin-left: 10px;
}

.title h1 {
    margin: 0;
}

.options {
    display: flex;
    /* justify-content: flex-end; */
}

.options span {
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.options span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(181, 181, 181, 0.3); /* Set the initial color */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.options span.selected::after {
    background-color: rgba(99, 181, 166, 1); /* Set the color when selected */
}
